@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
    width: 95%;
    margin: auto;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }
  #img-div{
    height: 50%;
  }
  #info-div{
    height: 40%;
  }
  #btn-div{
    height: 10%;
  }
#h1{
    font-size: 6rem;
}
#h4{
  margin: 1rem 0rem;
    font-size: 2rem;
}
#bottom-section{
  display: flex;
  justify-content: space-between;
}
.btns{
  display: flex;
  gap: 4rem;
  padding-top: 1rem;
}
#login-btn,#signup-btn{
  width: 10rem;
  height: 3rem;
  border: 2px solid black;
}
#login-btn{
  background-color: black;
  color: white;
}
img{
  width: 60rem;
}
